a{
    display: block;
    text-decoration: none;
    font-size: 20px;

}
a::before{
    content: "⦾";
    margin-right: 5px;
}
a:hover{
    border: 3px solid blueviolet;
    background-color: aqua;
    box-shadow: 2px 2px 2px;
}
a:visited{
    text-decoration: line-through;
    font-family: 35px;
    color: gray;
}